<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>
    <link rel="stylesheet" href="/static/ngunnawalnew.css">
    {% block pageStyle %}
    {% endblock %}
<style>

</style>
</head>
<body>

<!-- This is the navbar -->
<div class="navbar">
    <img src="/static/images/logo.png" style="width:150px;height:150px;" >
    <a href="ngunnawal.html">Home</a>
    <a href="history.html">History</a>
    <img src="/static/images/Banner.png" style="width:520px; height:145px;" >
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact Us</a>

    <div id="container">
        <div id="label">Search 🔎</div>
    </div>
</div class>


<div class="grid-container"> <!-- Overall Layout -->
    <div class="full-width">
        <p style="color:red;font-size:46px;text-align:center"
        <h1>{{ title }}</h1>
    </div>
    <div class="main-content center">
        <!--Cell 1-->
        {% block cellContent1 %} {% endblock %}
    </div>
    <div class="full-width">
        <!--Cell 2-->
        {% block cellContent2 %} {% endblock %}
    </div>
    <div class="full-width">
        <!--Cell 3-->
        {% block cellContent3 %} {% endblock %}
    </div>
</divclass>

    <html>

        <div class="footer">
            <p>Author: Alfonso Ramos<br>
                <a href="mailto:hege@example.com">0257621@schoolsnet.act.edu.au</a></p>
        </div>

        <style>
            .footer {
                position: absolute;
                left: 0;
                bottom: -100%;
                width: 100%;
                border: 3px solid darkred;
                background-color: antiquewhite;
                color: black;
                text-align: center;
            }
        </style>


    </body>
    </html>


</body>
</html>